@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@300..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand';
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  font-family: 'Monoton';
  padding: 20px;
  font-size: 3rem;
  text-align: center;
  background-color: #ffa500;
}

.header span {
  position: relative;
  bottom: 8px;
  font-size: 2.5rem;
}

.item-form {
  background-color: #ff7b00;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 15px 25px;
}

.item-form form {
  display: flex;
  gap: 10px;
}

main {
  flex-grow: 1;
  background-color: #543d26;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.items {
  color: #faebd7;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  justify-items: center;
  row-gap: 20px;
}

.item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  align-self: center;
}

.footer {
  background-color: #0bffae;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
}

input[type='text'],
button,
select {
  padding: 4px 8px;
  border-radius: 60px;
  border: none;
  outline: none;
  font-size: 0.7rem;
}

select {
  cursor: pointer;
}

.button,
select,
.option {
  text-transform: uppercase;
  font-size: 10px;
  cursor: pointer;
}

.btn-primary {
  background-color: #0bffae;
}

.btn-secondary {
  background-color: #faebd7;
}

.remove-icon {
  font-size: 0.7rem;
  cursor: pointer;
}

.packed {
  text-decoration: line-through;
}
